table{
    width: 300px;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 2px;
}

th {
    font-weight: bold;
    border: 1px solid black;
    padding: 2px;
}

p{
    font-size: large;
}





